<?xml version="1.0" encoding="utf-8"?>
<settings>
	<AutoLayout value="0"/>
	<CustomLayout value="0"/>
	<Standalone value="0"/>
	<MainWindowWidth value="1600"/>
	<MainWindowHeight value="870"/>
	<RenderWidth value="1440"/>
	<RenderHeight value="900"/>
	<RenderX value="1600"/>
	<RenderY value="0"/>
	<AspectRatio value="0.75"/>
	<FboWidth value="800"/>
	<FboHeight value="600"/>
	<MIDIEnabled value="1"/>
	<OSCEnabled value="0"/>
	<OSCReceiverPort value="9001"/>
	<OSCDestinationPort value="9000"/>
	<OSCDestinationHost value="192.168.0.9"/>
	<OSCDestinationPort2 value="7000"/>
	<OSCDestinationHost2 value="127.0.0.1"/>
	<MIDIOpenAllInputPorts value="0"/>
	<ShowUI value="1"/>
	<CursorVisible value="1"/>
	<IsOSCSender value="1"/>
	<AreWebSocketsEnabledAtStartup value="1"/>
	<IsWebSocketsServer value="0"/>
	<WebSocketsHost value="srv"/>
	<WebSocketsPort value="9999"/>
	<FftSize value="512"/>
	<WindowSize value="1024"/>
	<Info value="light4events.herokuapp.com 80"/>
	<AssetsPath value="batchass"/>
	<UseLineIn value="0"/>
</settings>

